<template>
    <footer class="footer navbar navbar-expand-lg navbar-dark bg-nav">
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarFooterContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarFooterContent">
        <ul class="navbar-nav">
          <li class="navbar-item">
            <a class="nav-link" href="">About</a>
          </li>
          <li class="navbar-item">
            <a
              class="nav-link"
              href="https://www.gnowledge.org/index.html#contact"
              >Contact</a
            >
          </li>
          <li class="navbar-item">
            <a class="nav-link" href="https://www.gnowledge.org/"
              >More Projects at HBCSE</a
            >
          </li>
        </ul>
      </div>

      <a class="navbar-brand nynlogo" href="home.html">naYana</a>
    </footer>
</template>

<style scoped>
.navbar {
  padding: 0 19px 0 19px;
}

.bg-nav {
  background: #223843;
}

.navbar-brand {
  font-style: normal;
  font-weight: bold;
  font-size: 42px;

  color: #ffffff;
}

.navbar-item {
  padding: 0 20px;
  font-size: 17px;
}

a {
  position: relative;
}

a:hover:not(.dropdown-toggle,.dropdown-item,.navbar-brand) {
  cursor: pointer;
  color: #ffffffa3;
}

a:not(.dropdown-toggle,.dropdown-item,.navbar-brand)::after{
  background: none;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: rgba(255, 255, 255, 0.5);
  transition: width ease 0.3s, left ease 0.3s;
  width: 0;
}

a:hover:not(.dropdown-toggle,.dropdown-item,.navbar-brand):after{
  width: 100%;
  left: 0;
}

footer {
    bottom: 0;
}
</style>
